* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f8aa01;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid white;
    background: #e28616;
}