@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #c26f28;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #f2e0cd;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    background: #829a3f;

    & > p {
        font-size: 24px;
    }
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    background: #829a3f;

    & > a {
        all: unset;

        & > button {
            all: unset;
            padding: 12px 24px;
            border-radius: 8px;
            border: 2px solid white;
            background: #c06e28;
            cursor: pointer;
            transition: background 300ms;

            &:hover {
                background: rgb(234, 135, 49);
            }
        }
    }
}